<footer class="page-foot section-75">
<div class="shell text-center">
<div class="hr-vertical"></div>
<h5>Contact us</h5>
<div class="range">
<div class="cell-sm-4">
<address class="contact-info">8901 Marmora road,<br>Glasgow, D04 89GR</address>
<p class="offset-top-15 offset-sm-top-29"><a ui-sref="main.home" class="link link-primary">Get Directions</a></p>
</div>
<div class="cell-sm-4 offset-top-45 offset-sm-top-0">
<address class="contact-info">
<dl>
<dt>Freephone</dt>
<dd><a href="callto:#">+1 800 559 6580</a></dd>
</dl>
<dl>
<dt>Telephone</dt>
<dd><a href="callto:#">+1 959 603 6035</a></dd>
</dl>
<dl>
<dt>FAX</dt>
<dd><a href="callto:#">+1 504 889 9898</a></dd>
</dl>
</address>
</div>
<div class="cell-sm-4 offset-top-45 offset-sm-top-0">
<address class="contact-info">
<dl class="dl-inline">
<dt>E-mail</dt>
<dd><a href="mailto:#">mail@demolink.org</a></dd>
</dl>
</address>
</div>
</div>
<p class="rights offset-top-45 offset-lg-top-86"><a href="index.html" class="brand">Industrial</a>
©
<span id="copyright-year">2017</span><span class="symbol">•</span>
<a ui-sref="main.privacy">Privacy Policy</a>
 
</p>
</div>
</footer>