<footer class="page-foot section-10">
<div class="shell text-center">
<div class="hr-vertical"></div>
<h5>Contact us</h5>
<div class="range">
<div class="cell-sm-4">
<address class="contact-info">16, J.M.Apartment, Jyoti Nagar, <br>Opp. Sharda English High School, <br>Chinchpada Road, Kalyan(E)</address>
<!-- <p class="offset-top-15 offset-sm-top-29"><a ui-sref="main.home" class="link link-primary">Get Directions</a></p> -->
</div>
<div class="cell-sm-4 offset-top-45 offset-sm-top-0">
<address class="contact-info">
<dl>
<dt>Telephone</dt>
<dd><a href="callto:#">+91 9699 199 599</a></dd>
</dl>
<dl>
<dt>Telephone</dt>
<dd><a href="callto:#">+91 9324 026 994</a></dd>
</dl>
</address>
</div>
<div class="cell-sm-4 offset-top-45 offset-sm-top-0">
<address class="contact-info">
<dl class="dl-inline">
<dt>E-mail</dt>
<dd><a href="mailto:#">anilsingh0323@gmail.com</a></dd>
</dl>
</address>
</div>
</div>
<p class="rights offset-top-45 offset-lg-top-86"><a href="index.html" class="brand">Delta Electronics</a>
©
<span id="copyright-year">2017</span><span class="symbol">•</span>
<a ui-sref="main.privacy">Privacy Policy</a>
 
</p>
</div>
</footer>