<div class="col-md-12">

  <div ng-if="viewProduct == 'tabletop' || !viewProduct">
      <h5 style="background-color: #063ec4;color: white;">Tabletop scales</h5>
      <br>
      <div>
        <div class="col-md-12" style="background-color: aliceblue">Name</div>
        <div class="col-md-5">
          <img src="images/products_ws_bagging.png">
        </div>
        <div class="col-md-7">
        <div>Description:</div>
        fsdvfjhjfjshdfgvfsdfsdf 
        fsdfsdfsdfds fdsfdsfds fdsfdsfdsf
        </div> 	
        <div class="col-md-12">
          <table class="table table-bordered table-hover" style="background-color: white;">
              <tbody>
                  <tr>
                      <td colspan="2">Specification</td>
                  </tr>
                  <tr>
                      <td>clientclient client clientclient client</td>
                      <td>clientclient client clientclient client</td>
                  </tr>
              </tbody>
          </table>
        </div> 
      </div>

      <div>
        <div class="col-md-12" style="background-color: aliceblue">Name</div>
        <div class="col-md-5">
          <img src="images/products_ws_bagging.png">
        </div>
        <div class="col-md-7">
        <div>Description:</div>
        fsdvfjhjfjshdfgvfsdfsdf 
        fsdfsdfsdfds fdsfdsfds fdsfdsfdsf
        </div>  
        <div class="col-md-12">
          <table class="table table-bordered table-hover" style="background-color: white;">
              <tbody>
                  <tr>
                      <td colspan="2">Specification</td>
                  </tr>
                  <tr>
                      <td>clientclient client clientclient client</td>
                      <td>clientclient client clientclient client</td>
                  </tr>
              </tbody>
          </table>
        </div> 
      </div>
  </div>
  <div ng-if="viewProduct == 'platform'">
      <h5 style="background-color: #063ec4;color: white;">Platform scales</h5>
      <br>
      <div>
        <div class="col-md-12" style="background-color: aliceblue">Name</div>
        <div class="col-md-5">
          <img src="images/products_ws_bagging.png">
        </div>
        <div class="col-md-7">
        <div>Description:</div>
        fsdvfjhjfjshdfgvfsdfsdf 
        fsdfsdfsdfds fdsfdsfds fdsfdsfdsf
        </div>  
        <div class="col-md-12">
          <table class="table table-bordered table-hover" style="background-color: white;">
              <tbody>
                  <tr>
                      <td colspan="2">Specification</td>
                  </tr>
                  <tr>
                      <td>clientclient client clientclient client</td>
                      <td>clientclient client clientclient client</td>
                  </tr>
              </tbody>
          </table>
        </div> 
      </div>
      <div>
        <div class="col-md-12" style="background-color: aliceblue">Name</div>
        <div class="col-md-5">
          <img src="images/products_ws_bagging.png">
        </div>
        <div class="col-md-7">
        <div>Description:</div>
        fsdvfjhjfjshdfgvfsdfsdf 
        fsdfsdfsdfds fdsfdsfds fdsfdsfdsf
        </div>  
        <div class="col-md-12">
          <table class="table table-bordered table-hover" style="background-color: white;">
              <tbody>
                  <tr>
                      <td colspan="2">Specification</td>
                  </tr>
                  <tr>
                      <td>clientclient client clientclient client</td>
                      <td>clientclient client clientclient client</td>
                  </tr>
              </tbody>
          </table>
        </div> 
      </div>
  </div>
  <div ng-if="viewProduct == 'precision'">
      <h5 style="background-color: #063ec4;color: white;">Precision scales</h5>
      <br>
      <div>
        <div class="col-md-12" style="background-color: aliceblue">Name</div>
        <div class="col-md-5">
          <img src="images/products_ws_bagging.png">
        </div>
        <div class="col-md-7">
        <div>Description:</div>
        fsdvfjhjfjshdfgvfsdfsdf 
        fsdfsdfsdfds fdsfdsfds fdsfdsfdsf
        </div>  
        <div class="col-md-12">
          <table class="table table-bordered table-hover" style="background-color: white;">
              <tbody>
                  <tr>
                      <td colspan="2">Specification</td>
                  </tr>
                  <tr>
                      <td>clientclient client clientclient client</td>
                      <td>clientclient client clientclient client</td>
                  </tr>
              </tbody>
          </table>
        </div> 
      </div>
  </div>

  <div ng-if="viewProduct == 'bagging'">
      <h5 style="background-color: #063ec4;color: white;">Bagging Systems</h5>
      <br>
      <div>
        <div class="col-md-12" style="background-color: aliceblue">Name</div>
        <div class="col-md-5">
          <img src="images/products_ws_bagging.png">
        </div>
        <div class="col-md-7">
        <div>Description:</div>
        fsdvfjhjfjshdfgvfsdfsdf 
        fsdfsdfsdfds fdsfdsfds fdsfdsfdsf
        </div>  
        <div class="col-md-12">
          <table class="table table-bordered table-hover" style="background-color: white;">
              <tbody>
                  <tr>
                      <td colspan="2">Specification</td>
                  </tr>
                  <tr>
                      <td>clientclient client clientclient client</td>
                      <td>clientclient client clientclient client</td>
                  </tr>
              </tbody>
          </table>
        </div> 
      </div>
  </div>
  <div ng-if="viewProduct == 'batching'">
      <h5 style="background-color: #063ec4;color: white;">Batching Systems</h5>
      <br>
      <div>
        <div class="col-md-12" style="background-color: aliceblue">Name</div>
        <div class="col-md-5">
          <img src="images/products_ws_batching.jpg">
        </div>
        <div class="col-md-7">
        <div>Description:</div>
        fsdvfjhjfjshdfgvfsdfsdf 
        fsdfsdfsdfds fdsfdsfds fdsfdsfdsf
        </div>  
        <div class="col-md-12">
          <table class="table table-bordered table-hover" style="background-color: white;">
              <tbody>
                  <tr>
                      <td colspan="2">Specification</td>
                  </tr>
                  <tr>
                      <td>clientclient client clientclient client</td>
                      <td>clientclient client clientclient client</td>
                  </tr>
              </tbody>
          </table>
        </div> 
      </div>
  </div>
  <div ng-if="viewProduct == 'belt'">
      <h5 style="background-color: #063ec4;color: white;">Belt Weighing Systems</h5>
      <br>
      <div>
        <div class="col-md-12" style="background-color: aliceblue">Name</div>
        <div class="col-md-5">
          <img src="images/products_ws_belt.jpg">
        </div>
        <div class="col-md-7">
        <div>Description:</div>
        fsdvfjhjfjshdfgvfsdfsdf 
        fsdfsdfsdfds fdsfdsfds fdsfdsfdsf
        </div>  
        <div class="col-md-12">
          <table class="table table-bordered table-hover" style="background-color: white;">
              <tbody>
                  <tr>
                      <td colspan="2">Specification</td>
                  </tr>
                  <tr>
                      <td>clientclient client clientclient client</td>
                      <td>clientclient client clientclient client</td>
                  </tr>
              </tbody>
          </table>
        </div> 
      </div>
  </div>
  <div ng-if="viewProduct == 'filling'">
      <h5 style="background-color: #063ec4;color: white;">Filling Systems</h5>
      <br>
      <div>
        <div class="col-md-12" style="background-color: aliceblue">Name</div>
        <div class="col-md-5">
          <img src="images/products_ws_filling.jpg">
        </div>
        <div class="col-md-7">
        <div>Description:</div>
        fsdvfjhjfjshdfgvfsdfsdf 
        fsdfsdfsdfds fdsfdsfds fdsfdsfdsf
        </div>  
        <div class="col-md-12">
          <table class="table table-bordered table-hover" style="background-color: white;">
              <tbody>
                  <tr>
                      <td colspan="2">Specification</td>
                  </tr>
                  <tr>
                      <td>clientclient client clientclient client</td>
                      <td>clientclient client clientclient client</td>
                  </tr>
              </tbody>
          </table>
        </div> 
      </div>
  </div>
  <div ng-if="viewProduct == 'tank'">
      <h5 style="background-color: #063ec4;color: white;">Tank Weighing Systems</h5>
      <br>
      <div>
        <div class="col-md-12" style="background-color: aliceblue">Name</div>
        <div class="col-md-5">
          <img src="images/products_ws_tank-weighing.jpg">
        </div>
        <div class="col-md-7">
        <div>Description:</div>
        fsdvfjhjfjshdfgvfsdfsdf 
        fsdfsdfsdfds fdsfdsfds fdsfdsfdsf
        </div>  
        <div class="col-md-12">
          <table class="table table-bordered table-hover" style="background-color: white;">
              <tbody>
                  <tr>
                      <td colspan="2">Specification</td>
                  </tr>
                  <tr>
                      <td>clientclient client clientclient client</td>
                      <td>clientclient client clientclient client</td>
                  </tr>
              </tbody>
          </table>
        </div> 
      </div>
  </div>
  <div ng-if="viewProduct == 'bridge'">
      <h5 style="background-color: #063ec4;color: white;">Weighbridge</h5>
      <br>
      <div>
        <div class="col-md-12" style="background-color: aliceblue">Name</div>
        <div class="col-md-5">
          <img src="images/products_ws_weighbridge.jpg">
        </div>
        <div class="col-md-7">
        <div>Description:</div>
        fsdvfjhjfjshdfgvfsdfsdf 
        fsdfsdfsdfds fdsfdsfds fdsfdsfdsf
        </div>  
        <div class="col-md-12">
          <table class="table table-bordered table-hover" style="background-color: white;">
              <tbody>
                  <tr>
                      <td colspan="2">Specification</td>
                  </tr>
                  <tr>
                      <td>clientclient client clientclient client</td>
                      <td>clientclient client clientclient client</td>
                  </tr>
              </tbody>
          </table>
        </div> 
      </div>
      <div>
        <div class="col-md-12" style="background-color: aliceblue">Name</div>
        <div class="col-md-5">
          <img src="images/products_ws_weighbridge1.jpg">
        </div>
        <div class="col-md-7">
        <div>Description:</div>
        fsdvfjhjfjshdfgvfsdfsdf 
        fsdfsdfsdfds fdsfdsfds fdsfdsfdsf
        </div>  
        <div class="col-md-12">
          <table class="table table-bordered table-hover" style="background-color: white;">
              <tbody>
                  <tr>
                      <td colspan="2">Specification</td>
                  </tr>
                  <tr>
                      <td>clientclient client clientclient client</td>
                      <td>clientclient client clientclient client</td>
                  </tr>
              </tbody>
          </table>
        </div> 
      </div>
  </div>
  <div ng-if="viewProduct == 'dynamometer'">
      <h5 style="background-color: #063ec4;color: white;">Dynamometer</h5>
      <br>
      <div>
        <div class="col-md-12" style="background-color: aliceblue">Name</div>
        <div class="col-md-5">
          <img src="images/products_ws_dynamometer.png">
        </div>
        <div class="col-md-7">
        <div>Description:</div>
        fsdvfjhjfjshdfgvfsdfsdf 
        fsdfsdfsdfds fdsfdsfds fdsfdsfdsf
        </div>  
        <div class="col-md-12">
          <table class="table table-bordered table-hover" style="background-color: white;">
              <tbody>
                  <tr>
                      <td colspan="2">Specification</td>
                  </tr>
                  <tr>
                      <td>clientclient client clientclient client</td>
                      <td>clientclient client clientclient client</td>
                  </tr>
              </tbody>
          </table>
        </div> 
      </div>
  </div>

  <div ng-if="viewProduct == 'utm'">
      <h5 style="background-color: #063ec4;color: white;">Universal Testing Machine</h5>
      <br>
      <div>
        <div class="col-md-12" style="background-color: aliceblue">Name</div>
        <div class="col-md-5">
          <img src="images/products_ws_utm.png">
        </div>
        <div class="col-md-7">
        <div>Description:</div>
        fsdvfjhjfjshdfgvfsdfsdf 
        fsdfsdfsdfds fdsfdsfds fdsfdsfdsf
        </div>  
        <div class="col-md-12">
          <table class="table table-bordered table-hover" style="background-color: white;">
              <tbody>
                  <tr>
                      <td colspan="2">Specification</td>
                  </tr>
                  <tr>
                      <td>clientclient client clientclient client</td>
                      <td>clientclient client clientclient client</td>
                  </tr>
              </tbody>
          </table>
        </div> 
      </div>
  </div>

  <div ng-if="viewProduct == 'was'">
      <h5 style="background-color: #063ec4;color: white;">Weighing Accessories & Spares</h5>
      <br>
      <div>
        <div class="col-md-12" style="background-color: aliceblue">Name</div>
        <div class="col-md-5">
          <img src="images/products_ws_was.png">
        </div>
        <div class="col-md-7">
        <div>Description:</div>
        fsdvfjhjfjshdfgvfsdfsdf 
        fsdfsdfsdfds fdsfdsfds fdsfdsfdsf
        </div>  
        <div class="col-md-12">
          <table class="table table-bordered table-hover" style="background-color: white;">
              <tbody>
                  <tr>
                      <td colspan="2">Specification</td>
                  </tr>
                  <tr>
                      <td>clientclient client clientclient client</td>
                      <td>clientclient client clientclient client</td>
                  </tr>
              </tbody>
          </table>
        </div> 
      </div>
  </div>

</div>